body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  text-align: center;
  font-size: 35px;
  color: rgb(0, 0, 0);
}

header h1{
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 20px;
  color: rgb(81, 79, 79);
  margin-top: 0; /* eliminate extra space above the subtitle */
}

.nav-bar {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  max-width: 600px; /* or any width you want */
  margin: 0 auto;   /* center it horizontally */
}

.nav-bar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 10px;
}
